
<?xml version="1.0" encoding="UTF-8"?>
<?xml version="1.0" encoding="UTF-8"?>
<odoo>
<odoo>
    <data>
    <menuitem
        <menuitem
        id="menu_sol_ojt_management_root"
            id="menu_sol_ojt_management_root"
        name="OJT Management"
            name="OJT Management"
        sequence="10"
            sequence="10"
        app="True"
            app="True"
        web_icon="solvera_ojt_kedua/static/description/icon.png"
            web_icon="solvera_ojt_kedua/static/description/icon.png"
    />
        />


        <record id="action_sol_ojt_batches" model="ir.actions.act_window">
    <record id="action_sol_ojt_batches" model="ir.actions.act_window">
            <field name="name">Batches</field>
        <field name="name">Batches</field>
            <field name="res_model">ojt.batch</field>
        <field name="res_model">ojt.batch</field>
            <field name="view_mode">kanban,list,form</field>
        <field name="view_mode">kanban,list,form</field>
            <field name="search_view_id" ref="view_ojt_batch_search"/>
        <field name="search_view_id" ref="view_ojt_batch_search"/>
            <field name="context">{'default_company_id': context.get('company_id')}</field>
        <field name="context">{'default_company_id': context.get('company_id')}</field>
            <field name="help" type="html">
        <field name="help" type="html">
                <p class="o_view_nocontent_smiling_face">
            <p class="o_view_nocontent_smiling_face">
                    <span class="fa fa-graduation-cap"/>
                <span class="fa fa-graduation-cap"/>
                    <span>Create your first OJT batch to start organizing participants.</span>
                <span>Create your first OJT batch to start organizing participants.</span>
                </p>
            </p>
                <p>
            <p>
                    Set up mentors, event links, and courses to deliver an engaging on-the-job training experience.
                Set up mentors, event links, and courses to deliver an engaging on-the-job training experience.
                </p>
            </p>
            </field>
        </field>
        </record>
    </record>


        <menuitem
    <menuitem
            id="menu_sol_ojt_batches"
        id="menu_sol_ojt_batches"
            name="Batches"
        name="Batches"
            parent="menu_sol_ojt_management_root"
        parent="menu_sol_ojt_management_root"
            action="action_sol_ojt_batches"
        action="action_sol_ojt_batches"
            sequence="10"
        sequence="10"
        />
    />
    </data>
</odoo>
</odoo>
